body {
font-family: 'Montserrat', sans-serif;
width: 100%;
background-color:  #CFCFCF;
color: black;
transition: all .8s ease;
}
/*versão do modo escuro*/
.dark-mode {
background-color: #404040;
color: #ededed;
transition: all .4s ease;
}
.dark-mode .voltar, .dark-mode footer, .dark-mode .redes-socias a, .dark-mode .botao {
color: #ededed;
}
.dark-mode .principal, .dark-mode .principal a{
color:  #B5B5B5;
}
.dark-mode main {
color:#404040 ;
}
/*versão do modo escuro*/
/*cabeçaho*/
header {
display: flex;
justify-content: space-around;
align-items: center ;
}
.voltar {
font-size: 50px;
color:#404040;
}
.dark-imprimir {
display: flex;
flex-direction: column;
}
.imprimir {
margin-top: 15px;
padding: 5px;
width: auto;
height: 40px;
font-weight: bold;
color: #404040;
}
/*cabeçaho*/
/*estilo do switch */
input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
}
label {
        cursor: pointer;
        text-indent: -9999px;
        width: 100px;
        height: 40px;
        background: #404040;
        display: block;
        border-radius: 100px;	
        position: relative;
}
label:after { /*bolinha*/
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
}
input:checked + label {
background: #B5B5B5;
}
input:checked + label:after {
left: calc(100% - 5px);
transform: translateX(-100%);
}
label:active:after {
width: 130px;
}
/*estilo do switch */
/*cabeçalho*/
main {
margin-top: 30px;
display: flex;
margin: 30px auto 0 auto;
justify-content: center;
}
.principal {
display: flex;
flex-direction: column;
color: black;
font-size: 15px;
}
.nome-contato h1 { 
font-family: 'Anton', sans-serif;
text-transform: uppercase; 
font-size: 60px;
display: flex;
justify-content: center;
padding-top: 30px;
}
.contato {
padding-left: 20px;
margin-top: 50px;
list-style-type: none;
font-weight: bold;
}
.contato .icone {
margin-right: 5px;
font-size: 15px;
}
.contato li {
margin-bottom: 15px;
}
.contato a {
text-decoration: none;
color: black;
}
.perfil-habilidade {
display: flex;
padding: 10px;
}
.perfil h2, .habilidade h2{
font-family: 'Anton', sans-serif;
text-transform: uppercase; 
font-size: 20px;
}
.perfil-habilidade p {
margin-top: 20px;
line-height: 30px;
font-size: 19px;
}
.perfil, .habilidade{ 
padding: 10px;
}
.perfil p, .habilidade p {
width: 300px;
line-height: 35px;
}
strong {
font-weight: bold;
}
.habilidade .habilidades-tecnicas {
margin-top: 30px;
}
.habilidades-tecnicas p {
margin: 0;
}
.habilidades-tecnicas h2 {
margin-bottom: 30px;
}
footer {
color:#404040;
text-align: center;
padding: 30px 0 20px;
}
footer p {
font-size: 20px;
}
